/* Reset rules */
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body*/
body    {
    background-color: lightgrey;
}

header{
    margin-bottom: 5vh;
    background-color: white;
}

/*top buttons plus dropdown menus*/

main    {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

#logo   {
    margin-left: 2vw;
}

#toboolist  {
    font-size: 70px;
}

#task-button  {
    border-radius: 5px;
    background-color: aqua;
    display: inline-block;
    color: white;
    padding: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left:5%;
}

#section-button {
    border-radius: 5px;
    background-color: white;
    color: grey;
    display: inline-block;
    padding: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    margin-top: 3%;
    margin-bottom: 2%;
}

.dropdown   {
    margin-top: 5%;
    margin-left: 5%;
}

/*circular container for checkmarks*/
.checkmark  {
    border-style: solid;
    border-radius: 50%;
    border-color: green;
    color: green;
}


/*circular container for crossmarks*/
.crossmark  {
    border-style: solid;
    border-radius: 50%;
    border-color: red;
    color: red;
}

#q1-goals   {
    border-radius: 20px;
    background-color: purple;
    display: inline-block;
    padding:10px;
    color: white;
    border-style: solid;
    border-width: 2px;
}

/*buttons' colors*/

#editorial  {
    border-radius: 20px;
    background-color: blue;
    display: inline-block;
    padding:10px;
    color: white;
    border-style: solid;
    border-width: 2px;
}

#recruiting {
    border-radius: 20px;
    background-color: lightgreen;
    display: inline-block;
    padding:10px;
    color: white;
    border-style: solid;
    border-width: 2px;
}

#mobile {
    border-radius: 20px;
    background-color: orange;
    display: inline-block;
    padding:10px;
    color: white;
    border-style: solid;
    border-width: 2px;
}

#website    {
    border-radius: 20px;
    background-color: fuchsia;
    display: inline-block;
    padding:10px;
    color: white;
    border-style: solid;
    border-width: 2px;
}

#sales  {
    border-radius: 20px;
    background-color: greenyellow;
    display: inline-block;
    padding:10px;
    color: white;
    border-style: solid;
    border-width: 2px;
}